@model ItemViewModel

<tbody>
    
    @* skriver ut alla items från sql-databas *@
    <div class="knappdiv container">
        <form method="post" asp-action="Show_all" asp-controller="Home">
            <input type="submit" id="form-button" value="Visa allt" class="knapp" />
        </form>
        <form method="post" asp-action="Show_clothes" asp-controller="Home">
            <input type="submit" id="form-button" value="Visa kläder" class="knapp" />
        </form>
        <form method="post" asp-action="Show_vehicles" asp-controller="Home">
            <input type="submit" id="form-button" value="Visa bilar" class="knapp" />
        </form>
    </div>



<div class="container">
            <div class="row">
    @foreach (var t in Model.ItemList)
    {
                <div class="col-sm">
                    <div class="card" style="width: 25rem;">
                        <div class="img-klass">
                        <img class="card-img-top" src="@t.image" alt="Card image cap" style="max-height: 15rem;">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@t.title</h5>
                            <h1>@t.price kr</h1>
                            <p class="card-text">@t.description</p>
                            <form method="post" asp-action="itemsLikedByUser" asp-controller="Home"
                            asp-route-id="@t.ProductID">
                                <button class="btn btn-outline-danger" type="submit">Gilla</button> <button class="btn btn-outline-primary" type="submit">Köp</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
    }
    </div>
    </div>
</tbody>
